@page "/Logs"
@using SchoolWebsite.shared

<h3 class="text-center mt-4">Logs</h3>

<div class="d-flex justify-content-center mt-4">
    <select class="form-select form-select-lg form-control-lg custom-select"
    style="max-width: 300px;" @onchange="LoadLogFiles" value="@selectedLogType">
        <option value="" selected disabled>Select a log type</option>
        @foreach (LogType logType in Enum.GetValues(typeof(LogType)))
        {
            <option value="@logType">@logType</option>
        }
    </select>
</div>


<div class="d-flex row justify-content-center mt-4">
    @if (customlogFiles.Any())
    {
        <div class="d-flex mt-4">
            <select class="form-select form-select-sm form-control-sm custom-select"
            style="max-width: 150px;" @onchange="GetLogsByDate" value="All">
                <option value="" selected disabled>Select a day</option>
                @foreach (DateTime date in dates)
                {
                    <option value="@date">@date.ToString("yyyy-MMM-dd")</option>
                }
                <option value="All">Show all logs</option>
            </select>
        </div>

        <div class="card">
            <div class="card-body">

                <h5 class="card-title mb-4 text-center">Log @(currentIndex + 1)</h5>

                @foreach (var logs in customlogFiles)
                {
                    @foreach (var log in logs)
                    {
                        <p>@log.Date</p>
                        <p>@log.Data</p>
                        <span>-------------------</span>
                    }
                }

                <div class="d-flex btn-group justify-content-center" role="group">
                    <button class="btn btn-danger btn-sm col-1" @onclick="() =>
                            {
                                if (currentIndex > 0)
                                  NavigateToLog(currentIndex - 1);
                            }">
                        Previous
                    </button>
                    @for (int i = 0; i < customlogFiles.Count; i++)
                    {
                        int pageNumber = i; // Capture the value of i
                        <button class="btn btn-outline-dark btn-sm @(currentIndex == pageNumber ? "active" : "")"
                        @onclick="() => currentIndex = pageNumber">
                            Page @(i + 1)
                        </button>
                    }

                    <button class="btn btn-danger btn-sm col-1" @onclick="() =>
                            {
                                if (currentIndex < customlogFiles.Count - 1)
                                  NavigateToLog(currentIndex + 1);
                            }">
                        Next
                    </button>
                </div>
            </div>

        </div>
    }

    else if (loadingLogFiles)
    {
        <div class="d-flex justify-content-center mt-4">
            <div class="spinner-border" role="status"></div>
        </div>
    }
    else
    {
        <p class="col-md-12 text-center mt-4">No logs available.</p>
    }
</div>

<style>
    .card-text {
        max-height: 300px;
        word-wrap:break-word;
        overflow:auto;
    }
</style>