@page "/StudentData/{id}"
@using AKSoftware.Localization.MultiLanguages;
@using SchoolWebsite.Client.Components
@inject ILanguageContainerService langService
<h3>@langService.Keys["StudendtData"]</h3>

@if (valid)
{
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">@langService.Keys["StudentID"]</th>
          <th scope="col">@langService.Keys["StudentName"]</th>
          <th scope="col">@langService.Keys["StudentAge"]</th>
          <th scope="col">@langService.Keys["StudentPhone"]</th>
          <th scope="col">@langService.Keys["Options"]</th>
        </tr>
      </thead>
      <tbody id="studentTableBody">      
        <tr>
         <th scope="row">@student.Id</th>
         <td>@student.Name</td>
         <td>@student.Age</td>
         <td>@student.Phone</td>
         <td>
           <td>
                 <button class="btn btn-outline-danger" @onclick="() => DeleteStudent(student.Id)">@langService.Keys["Delete"]</button>
           </td>
           <td>
                 <button class="btn btn-outline-dark mb-1" @onclick="() => EditStudent(student.Id)">@langService.Keys["Edit"]</button>
           </td>
         </td>
         
        </tr>         
      </tbody>
    </table>
}
<ValidationMessages alertClass="@validation.alertClass" message="@validation.message"></ValidationMessages>
