@using SchoolWebsite.Client.Components

@page "/AddTeacher"
<Header HeaderName="Teacher Information" />

    <EditForm Model="Teacher" OnValidSubmit="OnFormValidAsync">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <div class="container d-flex flex-column align-items-center gap-4">
            <div class="col-6">
                <label for="TeacherName" class="h4">Teacher Name:</label>
                <InputText id="TeacherName" @bind-Value="Teacher.Name" class="form-control form-control-lg"></InputText>
            </div>

        <div class="col-6">
            <label for="CollegeId" class="h4">College name:</label>
            <InputSelect id="CollegeId" @bind-Value="@Teacher.CollegeId" @oninput="CatchCollegeId"
                         class="form-select form-select-Lg">
                <option value="0">Select College</option>
                @foreach (var college in avilabeColleges)
                {
                    <option value="@college.Id">@college.Name</option>
                }
            </InputSelect>
        </div>

        <div class="col-6">
            <label for="CourseId" class="h4">Course name:</label>
            <InputSelect id="CourseId" @bind-Value="@Teacher.CourseId"
            class="form-select form-select-Lg">
                <option value="0">Select Course</option>
                @foreach (var course in avilabeCourses)
                {
                    <option value="@course.Id">@course.Name</option>
                }
            </InputSelect>
        </div>

            <div class="col-6">
                <button 
                    class="btn btn-primary btn-lg btn-block">
                Submit
                </button>
            </div>
        </div>
    </EditForm>
<ValidationMessages alertClass="@validation.AlertClass" message="@validation.Message"></ValidationMessages>