@inject ILanguageContainerService langService
@page "/AddCourse"
@using AKSoftware.Localization.MultiLanguages;
@using SchoolWebsite.Client.Components

<Header HeaderName="Course Information"></Header>
<EditForm Model="Course" OnValidSubmit="OnFormValidAsync">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="container d-flex flex-column align-items-center gap-4">
        <div class="col-6">
            <label for="CourseName" class="h4">@langService.Keys["CourseName"]:</label>
            <InputText id="CourseName" @bind-Value="Course.Name" class="form-control form-control-lg"></InputText>
        </div>

        <div class="col-6">
            <label for="CollegeId" class="h4">@langService.Keys["College Name"]:</label>
            <InputSelect id="CollegeId" @bind-Value="@selectedCollegeId" class="form-select form-select-Lg">
                <option>Select College</option>
                @foreach (var college in Colleges)
                {
                    <option value="@college.Id">@college.Name</option>
                }
            </InputSelect>
        </div>

        <div class="col-6">
            <button class="btn btn-primary btn-lg btn-block">
                @langService.Keys["Submit"]
            </button>
        </div>
    </div>
</EditForm>
<ValidationMessages alertClass="@validation.AlertClass" message="@validation.message"></ValidationMessages>